<p id="notice"><%= notice %></p>

<h1>Alunos</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Rg</th>
      <th>Data nascimento</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.cpf %></td>
        <td><%= aluno.rg %></td>
        <td><%= aluno.data_nascimento %></td>
        <td><%= aluno.nome %></td>
        <td><%= aluno.telefone %></td>
        <td><%= link_to 'Exibir', aluno %></td>
        <td><%= link_to 'Editar', edit_aluno_path(aluno) %></td>
        <td><%= link_to 'Remover', aluno, method: :delete, data: { confirm: 'Confirma remoção?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo aluno', new_aluno_path %>
