<%= form_for(curso) do |f| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso.errors.count, "erro") %> encontrado(s) ao salvar o registro:</h2>
      <ul>
      <% curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label "R$ inscrição" %>
    <%= f.number_field :valor_inscricao, :step => 0.01, :value => (number_with_precision(f.object.valor_inscricao, :precision => 2) || 0.00)  %>
  </div>

  <div class="field">
    <%= f.label "Período" %>
    <%= f.select :periodo, options_for_select([["Matutino", "1"], ["Vespertino", "2"], ["Integral", "3"]])%>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
