<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @curso.nome %>
</p>

<p>
  <strong>R$ inscrição:</strong>
  <%= @curso.valor_inscricao %>
</p>

<p>
  <strong>Período:</strong>
  <%= @curso.periodo_texto %>
</p>

<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Voltar', cursos_path %>
