<%= form_for(matricula) do |f| %>
  <% if matricula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(matricula.errors.count, "error") %> prohibited this matricula from being saved:</h2>

      <ul>
      <% matricula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_matricula %>
    <%= f.date_select :data_matricula, order: [:day, :month, :year], start_year:Date.today.year %>
  </div>

  <div class="field">
    <%= f.label "Aluno" %>
    <%= f.collection_select(:aluno_id, @alunos, :id, :nome, :prompt => true) %>
  </div>

  <div class="field">
    <%= f.label "Curso" %>
    <%= f.collection_select(:curso_id, @cursos, :id, :nome, :prompt => true) %>
  </div>

  <div class="field">
    <%= f.label :ano %>
    <%= f.number_field :ano %>
  </div>

  <div class="field">
    <%= f.hidden_field :ativo %>
  </div>

  <div class="field">
    <%= f.hidden_field :pago %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
