<p id="notice"><%= notice %></p>

<h1>Matrículas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Ano</th>
      <th>Aluno</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matriculas.each do |matricula| %>
      <tr>
        <td><%= matricula.data_matricula %></td>
        <td><%= matricula.ano %></td>
        <td><%= matricula.aluno.nome %></td>
        <td><%= matricula.curso.nome %></td>
        <td><%= link_to 'Exibir', matricula %></td>
        <td><%= link_to 'Editar', edit_matricula_path(matricula) %></td>
        <td><%= link_to 'Inativar', matricula, method: :inativar, data: { confirm: 'Confirma inativação?' } %></td>
        <td><%= link_to 'Pagar', "/matriculas/#{matricula.id}/pagar" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova matrícula', new_matricula_path %>
