<h1> Pagamento de matrícula </h1>

<%= form_for(@matricula) do |f| %>
  <div class="field">
    <%= f.label "R$ pago" %>
    <%= f.number_field :valor_pago, :step => 0.01, :value => (number_with_precision(f.object.curso.valor_inscricao, :precision => 2) || 0.00)  %>
  </div>
  <div class="actions">
    <%= button_to "Pagar", f.object, method: :put %>
  </div>
<% end %>
