<p id="notice"><%= notice %></p>

<p>
  <strong>Data matrícula:</strong>
  <%= @matricula.data_matricula %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @matricula.ano %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @matricula.aluno.nome %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @matricula.curso.nome %>
</p>

<%= link_to 'Editar', edit_matricula_path(@matricula) %> |
<%= link_to 'Voltar', matriculas_path %>
