<!DOCTYPE html>
<html>
  <head>
    <title>Portabilis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <% %w[alunos cursos matriculas].each do |controller_name| %>
        <li>
          <%= link_to controller_name, controller: controller_name %>
        </li>
      <% end %>
    <%= yield %>
  </body>
</html>
